{% block footercontent %}
<footer class="column__invoice m10p">
    <hr />
    <div class="mentions row__invoice row__invoice-reverse space-between border">
        <div class="details">
            <div class="mentions column__invoice">
                <p>
                    {% if (doc.urgence == "urgente") %}
                    J'atteste sur l'honneur vouloir l'exécution immédiate des travaux, renoncant ainsi à mon droit de
                    rétractation.
                    <br />
                    {% endif %}
                    <b>Devis reçu avant l'exécution des travaux<br />
                        BON POUR ACCORD</b>
                    <br />
                    <br />
                </p>
            </div>
            <div class="signature column__invoice alignitems-content-center">
                <span>
                    <b>Fait à {{ doc.ville_inter }}, le {{ doc.date_devis | default("") | date('d/m/Y à H:i:s') }}</b><br />
                    <b>Signature du client</b></span>
                <img src="{{doc.signature}}" />
            </div>
        </div>
        <div class="authentification qrcode">
            <span>Code de vérification d'authenticité</span>
            <img src="{{doc.QR}}">
        </div>
    </div>
    <div class="legislation">
        <span>
            Etienne Services - SASU au capital de 500 euros<br />
            N° Siret : 85154819800023 - R.C.S. BOBIGNY B 851 548 198 - Code APE : 9529Z<br />
			Assurance Décénnale: ERGO VERSICHERUNG AG - POLICE N° SV75018041T07617<br />
        </span>
        <span>
            Ce devis a été signé électroniquement conformément aux articles de la loi n°2000-230 du 13 mars
            2000 et de l'article 1366 du Code civil. Ces lois disposent ainsi que la signature électronique a la même
            force et valeur juridique qu'une signature manuscrite
        </span>
    </div>
</footer>
{% endblock %}